HOST=0.0.0.0
PORT=8004

PROJECT_NAME=Projects Service
VERSION=0.1.0
API_V1_STR=/api/v1

POSTGRES_SERVER=infra-postgres
POSTGRES_PORT=5432
POSTGRES_USER=projects_user
POSTGRES_PASSWORD=projects_password
POSTGRES_DB=projects_db

MESSAGE_BROKERS=infra-redpanda:19092
ADMIN_PROJECTS_TOPIC=admin.projects.requests
ADMIN_RESPONSE_TOPIC=admin.responses

MODULES_SERVICE_URL=modules-service:50051
MODULES_HEARTBEAT_INTERVAL=30

GRPC_PORT=50054

